/artifacts
/cache
/dist
/build
/node_modules
/output
._.DS_Store
*.swp
contracts/Timestamp*
test/testTimestamp.js*
test/parseAuxPoW.js*
test/testRelayIntegration.js
superblocknotes

# Used in integration tests (e.g. see scripts/send-back-and-forth-test.sh)
.dogecoin-data/
ganachelog.txt

# Used by upgrades plugin
.openzeppelin/

scripts/set-environment-variables.sh